<form action="/login" method="POST">
    <input name="email" type="text" class="form-control" placeholder="Email">
    <input name="password" type="password" class="form-control" placeholder="Password">
    <button type="submit"> Submit</button>
</form>